@model CBProject.Models.ViewModels.HomeViewModel

@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using CBProject.Models


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var fullname = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("FullName");
    //var user_image = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("ImagePath");

    var context = new ApplicationDbContext();
    var userStore = new UserStore<ApplicationUser, ApplicationRole, string, IdentityUserLogin, IdentityUserRole, IdentityUserClaim>(context);
    var userManager = new CBProject.ApplicationUserManager(userStore);
    var currentUser = userManager.FindById(User.Identity.GetUserId());
    var roleStore = new RoleStore<ApplicationRole>(context);
    var roleManager = new RoleManager<ApplicationRole>(roleStore);

    RoleLevel access = RoleLevel.SUPERLOW;

    if (User.Identity.IsAuthenticated)
    {

        var fullName = currentUser.FullName;
        var userImage = currentUser.ImagePath;

        foreach (var role in currentUser.Roles)
        {
            var myRole = roleManager.FindById(role.RoleId);
            if (myRole.Level == RoleLevel.FULL)
            {
                access = myRole.Level;
            }
            else if (myRole.Level == RoleLevel.PLUSSFULL)
            {
                if (access != RoleLevel.FULL)
                {
                    access = myRole.Level;
                }
            }
            else if (myRole.Level == RoleLevel.MIDDLE)
            {
                if (access != RoleLevel.FULL &&
                    access != RoleLevel.PLUSSFULL)
                {
                    access = myRole.Level;
                }
            }
            else if (myRole.Level == RoleLevel.LOW)
            {
                if (access != RoleLevel.FULL &&
                    access != RoleLevel.PLUSSFULL &&
                    access != RoleLevel.MIDDLE)
                {
                    access = myRole.Level;
                }
            }
            else if (myRole.Level == RoleLevel.SUPERLOW)
            {
                if (access != RoleLevel.FULL &&
                    access != RoleLevel.PLUSSFULL &&
                    access != RoleLevel.MIDDLE &&
                    access != RoleLevel.LOW)
                {
                    access = myRole.Level;
                }
            }
        }
    }

}



<style>
    #filter-slidebar > li {
        margin-top: 11% !important;
        text-align: center;
    }

    #search-addon:hover {
        cursor: pointer;
    }

    .drop-down-buttons {
        margin-top: 5px;
    }

    #subscription-container {
        text-align: center;
        margin-top: 33%;
    }

    .subscribe-button {
        border-radius: 11px;
        background-color: red;
        color: #ffffff;
        padding: 11px;
    }

    .subscribe-button:hover {
        color: #ffffff;
        background-color: darkred;
    }

    #ourHolder:hover {
        transform: translate(0, -7px);
    }
</style>







<div class="row" style="margin-top: 50px !important; margin-bottom: 50px !important;">

    <!-- Filters SlideBar -->
    <div class="col-md-2">
        <ul class="nav flex-column" id="filter-slidebar">
            <li class="nav-item">
                <fieldset id="group1">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-check-label" for="ebooks-input">Ebooks</label>
                            <input class="radios-selection" type="radio" id="ebooks-input" name="group1" style="margin-right: 5%;">
                        </div>
                        <div class="col-md-6">
                            <label class="form-check-label" for="videos-input">Videos</label>
                            <input class="radios-selection" type="radio" id="videos-input" name="group1" checked>
                        </div>
                    </div>
                </fieldset>
            </li>
            <li class="nav-item">
                <input id="category-search-button" type="search" class="form-control rounded" placeholder="Search Category" aria-label="Search"
                       aria-describedby="search-addon" />
            </li>
            <li class="nav-item">
                <input id="tag-search-button" type="search" class="form-control rounded" placeholder="Search Tag" aria-label="Search"
                       aria-describedby="search-addon" />
            </li>
            <li class="nav-item">
                <input id="title-search-button" type="search" class="form-control rounded" placeholder="Search Title" aria-label="Search"
                       aria-describedby="search-addon" />
            </li>
            <li class="nav-item">
                <input id="teacher-search-button" type="search" class="form-control rounded" placeholder="Search Teacher" aria-label="Search"
                       aria-describedby="search-addon" />
            </li>
            <li>
                <button class="btn btn-search search-button">
                    Search
                    <i class="fa fa-search"></i>
                </button>
            </li>
        </ul>
        <br />
        <div id="subscription-container">
            @Html.ActionLink("Subscribe Now", "Subscribe", "SubscriptionPackages", null, new { @class = "subscribe-button" })
        </div>
    </div>

    <!-- Main Content -->
    <div class="col-md-10">
        <div class="container-fluid">
            <div class="grey-row">
                <div class="container">
                    <br />
                    <br />

                    <div class="row contents">
                        @foreach (var video in Model.Videos.Take(8))
                        {
                            <div class="col-md-4 ourHolder" id="ourHolder">
                                <input type="hidden" id="category" name="category" value="@video.Category.ID">
                                <div class="card item" id="card-video">
                                    <div style="width:100%; text-align:center; margin-top: 5%;">
                                        <img alt="Cover Foto" src="@video.VideoImagePath" style="height:150px;" />
                                        <h4 style="margin-top: 5%;">@video.Title</h4>
                                    </div>
                                    @*<img class="card-img-top" style="width:100%" src="~/img/@Url.Content(video.Thumbnail)" alt="Card image cap">*@
                                    <div class="card-body text-center">
                                        <p class="card-text"> @video.Description </p>
                                        <p class="card-text"> @video.Creator.FullName  </p>
                                        <br />
                                        <button class="btn btn-card btn-lg btn-open-modal" data-toggle="modal" data-target="#modal-fullscreen-xl">
                                            Play
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Video/Ebook Modal -->
                            <div class="modal modal-fullscreen-xl" id="modal-fullscreen-xl" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">@video.Title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="@video.VideoPath" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>

</div>



@section scripts {
    <script>
        $(document).ready(function () {
            $(document.body).on('click', 'button', function () {
                if (this.classList.contains('search-button')) {
                    search();
                }
            });
            $(document.body).on('click', 'input', function () {
                if (this.classList.contains('radios-selection')) {
                    search();
                }
            });
            $(".ourHolder").on("click", function () {
                var category = $("input[type=hidden]").val();
                console.log(category);
            });
            function search() {
                var ebooks = $("#ebooks-input:checked").val() ? true : false;
                var videos = $("#videos-input:checked").val() ? true : false;
                var category = $("#category-search-button").val();
                var tag = $("#tag-search-button").val();
                var title = $("#title-search-button").val();
                var teacher = $("#teacher-search-button").val();


                var sendData = {
                    EbooksName: ebooks,
                    VideosName: videos,
                    CategoryName: category,
                    TagName: tag,
                    TitleName: title,
                    TeacherName: teacher
                };

                getProductsByFilters(sendData, function (response_data) {
                    render(response_data, videos, ebooks);
                });
            }
            function render(data, videos, ebooks) {
                if (data.videos && videos) {
                    $(".contents").empty();
                    data.videos.forEach(video => {
                        $(".contents").append(
                            `
                                <div class="col-md-4 ourHolder" id="ourHolder">
                                    <input type="hidden" id="category" name="category" value="${video.categoryId}">
                                    <div class="card item" id="card-video">
                                        <div style="width:100%; text-align:center; margin-top: 5%;">
                                            <img alt="Cover Foto" src="${video.videoImagePath}" style="height:150px;" />
                                            <h4 style="margin-top: 5%;">${video.title}</h4>
                                        </div>
                                        <div class="card-body text-center">
                                            <p class="card-text"> ${video.description} </p>
                                            <p class="card-text"> ${video.title}  </p>
                                            <br />
                                            <button class="btn btn-card btn-lg btn-open-modal" data-toggle="modal" data-target="#modal-fullscreen-xl">
                                                Play
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!-- Video Modal -->
                                <div class="modal modal-fullscreen-xl" id="modal-fullscreen-xl" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">${video.title}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe class="embed-responsive-item" src="${video.videoPath}" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                `
                        );
                    });
                }
                if (data.ebooks && ebooks) {
                    $(".contents").empty();
                    data.ebooks.forEach(ebook => {
                        $(".contents").append(
                            `
                            <div class="col-md-4 ourHolder" id="ourHolder">
                                <input type="hidden" id="category" name="category" value="${ebook.categoryId}">
                                <div class="card item" id="card-video">
                                    <div style="width:100%; text-align:center; margin-top: 5%;">
                                        <img alt="Cover Foto" src="${ebook.ebookImagePath}" style="height:150px;" />
                                        <h4 style="margin-top: 5%;">${ebook.title}</h4>
                                    </div>
                                    <div class="card-body text-center">
                                        <p class="card-text"> ${ebook.description} </p>
                                        <p class="card-text"> ${ebook.title}  </p>
                                        <br />
                                        <button class="btn btn-card btn-lg btn-open-modal" data-toggle="modal" data-target="#modal-fullscreen-xl">
                                            Read
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Ebook Modal -->
                            <div class="modal modal-fullscreen-xl" id="modal-fullscreen-xl" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">${ebook.title}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe height="100%" width=100% src='${ebook.ebookFilePath}></iframe>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            `
                        );
                    });
                }
                //$(".ourHolder").on("click", function () {
                //    var category = $("#ourHolder").data("item");
                //    alert(category);
                //});
            }
        });
    </script>
}