<!DOCTYPE html>
<html lang="en">

<head>

    @Html.Partial("~/Views/Shared/_title_meta.cshtml")
    @RenderSection("styles", false)

    @Styles.Render("~/assets/css/bootstrap.min.css")
    @Styles.Render("~/assets/css/icons.min.css")
    @Styles.Render("~/assets/css/app.min.css")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">
        @Html.Partial("~/Views/Shared/_topbar.cshtml")
        @Html.Partial("~/Views/Shared/_sidebar.cshtml")

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @Html.Partial("~/Views/Shared/_page_title.cshtml")

                    @RenderBody()
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            @Html.Partial("~/Views/Shared/_footer.cshtml")
        </div>
        <!-- end main content-->

    </div>

    @RenderSection("externalhtml", required: false)

    <!-- END layout-wrapper -->
    @Html.Partial("~/Views/Shared/_right_sidebar.cshtml")





    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/assets/libs/bootstrap/js/bootstrap.bundle.min.js")
    @Scripts.Render("~/assets/libs/metismenu/metisMenu.min.js")
    @Scripts.Render("~/assets/libs/simplebar/simplebar.min.js")
    @Scripts.Render("~/assets/libs/node-waves/waves.min.js")
    @Scripts.Render("~/assets/js/app.js")








</body>

</html>