<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Me</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("styles", required: false)

    <link rel="shortcut icon" href="~/Img/brouser_tab_icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              @Html.ActionLink("CodeMe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand  logo" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Lessons", "Lessons", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @RenderSection("fullWidth", required: false)

    <div class="container-fluid body-content">
        @RenderBody()

        <footer>
            <div class="container">
                <div class="row footer-row">
                    <div class="col-md-1 footer-logo">
                        @Html.ActionLink("CodeMe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand  logo" })
                    </div>
                    <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-0 footer-text">
                        <p><b>CodeMe</b></p>
                        <p>@Html.ActionLink("About", "About", "Home")</p>
                        <p>@Html.ActionLink("Lessons", "Lessons", "Home")</p>
                        <p>@Html.ActionLink("Contact", "Contact", "Home")</p>
                        <p>@Html.ActionLink("Terms & Conditions", "Terms", "Home")</p>

                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 footer-text">
                        <p><b>Plans</b></p>
                        <p>@Html.ActionLink("Basic", "Subscribe", "SubscriptionPackages")</p>
                        <p>@Html.ActionLink("Advance", "Subscribe", "SubscriptionPackages")</p>
                        <p>@Html.ActionLink("Premium", "Subscribe", "SubscriptionPackages")</p>
                      
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 footer-text" id="social">
                        <p><b>Social</b></p>
                        <a href="https://www.facebook.com/"><img style="width:40px" src="~/assets/images/icons/icons-facebook.png" alt="facebook" /></a>
                        <a href="https://www.instagram.com/"><img style="width:40px" src="~/assets/images/icons/icons-instagram.png" alt="instagram" /></a>
                    </div>
                </div>
            </div>
          
            <p style="text-align:center;margin-top:3%;">&copy; @DateTime.Now.Year - CodeMe</p>
            <br />
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/DataTables")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="~/Scripts/Servicies.js"></script>
    <script type="text/javascript" src="~/Scripts/Payment.js"></script>

    <script>
        $(document).ready(function () {

            // When Buton Buy Clicks
            $(document.body).on('click', 'a', function () {
                if (this.classList.contains("buy-button")) {
                    var packageId = $(this).data('value');
                    createOrder(packageId);
                }
            });

        });
    </script>

</body>
</html>