@model CBProject.Models.ViewModels.EbookViewModel

<script type="text/javascript" src="~/Scripts/Servicies.js"></script>

@using (Html.BeginForm("Edit", "Ebooks", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ebook</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })*@
                <textarea class="form-control" name="Description", id="Description" styke="width: 100%;"></textarea>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(e => e.CategoryId, Model.Categories, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatorId, "Creator", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(e => e.CreatorId, Model.Users, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CreatorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="EbookImageFile" ) />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("File", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="EbookFile" ) />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class=" class=" form-horizontal"">
    <h3>Requirements</h3>
    <div class="form-group">
        @Html.Label("Add", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea class="form-control rounded-0" id="add-requirement-textarea-Ebook-Partial" rows="2"></textarea>
            <button class="btn btn-dark" onclick="addRequirements(@Model.ID, $('#add-requirement-textarea-Ebook-Partial').val(), 'ebook');" style="margin-top:5px;">Add</button>
            <br /><br />
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Remove", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" id="remove-requirement-textarea-Ebook-Partial">
                @foreach (var req in @Model.Requirements)
                {
                    <option value="@req.ID">@req.Content</option>
                }
            </select>
            <button class="btn btn-dark" onclick="removeRequarements(@Model.ID, $('#remove-requirement-textarea-Ebook-Partial option:selected').val(), 'ebook');" style="margin-top:5px;">Remove</button>
        </div>
    </div>
</div>


@section Scripts {

    

}
