@model CBProject.Models.ViewModels.EbookViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ebook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorId)
        </dd>

        <dt>
            @Html.DisplayName("Tags")
        </dt>

        <dd>
            <ul>
                @foreach (var tag in Model.MyTags)
                {
                    <li>
                        @Html.DisplayFor(model => tag.Title)
                    </li>
                }
            </ul>
        </dd>

        <dt>
            @Html.DisplayName("Reviews")
        </dt>

        <dd>
            <ul>
                @foreach (var review in Model.MyReviews)
                {
                    <li>
                        @Html.DisplayFor(model => review.Comment)
                    </li>
                }
            </ul>
        </dd>

        <dt>
            @Html.DisplayName("Ratings")
        </dt>

        <dd>
            <ul>
                @foreach (var rating in Model.MyRatings)
                {
                    <li>
                        @Html.DisplayFor(model => rating.Rate)
                    </li>
                }
            </ul>
        </dd>

    </dl>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
