@model IEnumerable<CBProject.Models.ViewModels.SubscriptionPackageViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style>
    .package-card {
        margin-top: 33px;
    }

    .item {
        border-radius: 11px;
        border-style: solid;
    }

        .item:hover {
            transform: translate(0, -11px);
        }

    .item-header {
        border-radius: 11px 11px 0 0;
        background-color: darkgrey;
        text-align: center;
        padding: 7px;
    }
</style>




<div class="container">
    <div class="row" id="ebooks-home">
        <br />
        <h3>Select a Package:</h3>
        <hr />
        <br />
        @foreach (var pack in Model)
        {
        <div class="col-md-4 package-card">
            <div class="card item">
                <div class="card-header item-header">
                    @*<img alt="Cover Foto" src="@ebook.EbookImagePath" style="height:150px;" />*@
                    <h4>@pack.Description</h4>
                </div>
                @*<img class="card-img-top" style="width:100%" src="~/img/@Url.Content(ebook.Thumbnail)" alt="Card image cap">*@
                <div class="card-body text-center">
                    <p class="card-text">@pack.StartDate</p>
                    <p class="card-text">@pack.Price</p>
                    <p class="card-text">@pack.Duration</p>
                    <br />
                    <a href="#" class="btn btn-card" onclick="createOrder();">Add Package</a>
                </div>
            </div>

            <script type="text/javascript">

                function createOrder() {
                    var payment = {
                        Auth: {
                            UserName: btoa("SB-Mid-server-XhC6ozM7V3n8334ljomw2aS5"),
                            Password: ""
                        },
                        TransactionDetails: {
                            OrderId: @pack.ID,
                            GrossAmount: @pack.Price
                        },
                        User: {
                            FirstName: "Alexandros_3",
                            LastName: "Platanios_3",
                            Email: "alexandrosplatanios3@gmail.com"
                        },
                        Method: "CreaditCard",
                        Secure: true
                    }

                    $.ajax({
                        type: "POST",
                        url: "/api/products/payment/frame",
                        data: payment,
                        success: function (data) {
                            if (data) {
                                data = JSON.parse(data);
                                console.log(data.token);
                                console.log(data.redirect_url);
                                window.location.href = data.redirect_url;
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }

            </script>
        </div>
        }
    </div>
    <br />
    <br />
</div>



@section scripts {
    
    

}
