@model CBProject.Models.EntityModels.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionPackageId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubscriptionPackageId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsClose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsClose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCanceledByError)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCanceledByError)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
