@model IEnumerable<CBProject.Models.EntityModels.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="table-responsive">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionPackageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCanceled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCanceledByError)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubscriptionPackageId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsClose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCanceled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCanceledByError)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>