@model CBProject.Models.ViewModels.VideoViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VideoViewModel</h4>
    <hr />

    @using (Html.BeginForm("Delete", "Videos", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Thumbnail)
            </dt>

            <dd style="margin: 5px; text-align:center;">
                @Html.DisplayFor(model => model.Thumbnail)
                <img alt="video" src="@Html.DisplayFor(model => model.Thumbnail)" height="100" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VideoImagePath)
            </dt>

            <dd style="margin: 5px; text-align:center;">
                @Html.DisplayFor(model => model.VideoImagePath)
                <img alt="video" src="@Html.DisplayFor(model => model.VideoImagePath)" height="100" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VideoPath)
            </dt>

            <dd style="margin: 5px; text-align:center;">
                @Html.DisplayFor(model => model.VideoPath)
                <video height="150" controls preload="none" poster="@Html.DisplayFor(model => model.Thumbnail)">
                    <source src="@Html.DisplayFor(model => model.VideoPath)" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UploadDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UploadDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Creator)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Creator.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Url)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Url)
            </dd>
        </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
