@model CBProject.Models.ViewModels.VideoViewModel

<script type="text/javascript" src="~/Scripts/Servicies.js"></script>

@using (Html.BeginForm(Html.BeginForm("Edit", "Videos", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>VideoViewModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", id="Description" } })
            @*<textarea value="@Model.Description" class="form-control" name="Description" , id="Description" styke="width: 100%;"></textarea>*@
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Creator, "Creator", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CreatorId, new SelectList(@Model.OtherUsers, "ID", "FullName"), null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CreatorId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryId, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CategoryId, new SelectList(@Model.OtherCategory, "ID", "NAME"), null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Image", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="VideoImageFile" ) />
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Video", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="VideoFile" ) />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div class=" class=" form-horizontal"">
    <h3>Requrements</h3>
    <div class="form-group">
        @Html.Label("Add", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea class="form-control rounded-0" id="add-requirement-textarea-Video-Partial" rows="2"></textarea>
            <button class="btn btn-dark" onclick="addRequirements(@Model.ID, $('#add-requirement-textarea-Video-Partial').val(), 'video');" style="margin-top: 5px;">Add</button>
            <br /><br />
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Remove", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" id="remove-requirement-textarea-Video-Partial">
                @foreach (var req in Model.Requirements)
                {
                    <option value="@req.ID">@req.Content</option>
                }
            </select>
            <button class="btn btn-dark" onclick="removeRequarements(@Model.ID, $('#remove-requirement-textarea-Video-Partial option:selected').val(), 'video');" style="margin-top: 5px;">Remove</button>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

    

}
